@model MarmitoAPI.Models.Login;

@{
    ViewData["Title"] = "Login";
}

<form asp-action="LoginUser" method="post" class="form-signin">
    <div>
        <label asp-for="Email" for="inputEmail" class="sr-only">Adresse email</label>
        <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Adresse email" required autofocus>
        <span asp-validation-for="Email"></span>
        <label asp-for="Password" for="inputPassword" class="sr-only">Mot de passe</label>
        <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input class="btn btn-lg btn-primary btn-block" role="alert" type="submit" value="Se connecter"/>
    </div>
</form>
<div>
    <a asp-action="Register" asp-controller="Auth">Pas encore inscrit ? Enregistrez vous !</a>
</div>
