@model MarmitoAPI.Models.Mito;

@{
    ViewData["Title"] = "Create";
}

<h1>Créer un Mito</h1>

<form class="form" asp-action="Add" method="post">
    <div>
        <div class="row">

        <label asp-for="Content"></label>
        </div>
        <textarea class="textarea" rows="4" cols="50" asp-for="Content"></textarea>
        <span asp-validation-for="Content"></span> <br><br>
        <label asp-for="Category"></label>
        <select name="Category" class="form-control form-control-lg" >
            <option value="0">Indisponible</option>
            <option value="1">Famille</option>
            <option value="2">Travail</option>
            <option value="3">Amour</option>
        </select>
    </div>
    <div>
        <br><br>
        <input class="btn btn-warning btn-lg btn-block" type="submit" value="Créer Mito"/>
    </div>
</form>