@model MarmitoAPI.Models.Mito;

@{
    ViewData["Title"] = "Update";
}

<h1>Mettre à jour le mito</h1>

<form asp-action="Update" method="post">
    <div>
        <label asp-for="Content"></label>
        <textarea rows="4" cols="50" asp-for="Content">@Html.DisplayFor(model => model.Content)</textarea>
        <span asp-validation-for="Content"></span>
        <select name="Category">
            <option value="0">Indisponible</option>
            <option value="1">Famille</option>
            <option value="2">Travail</option>
            <option value="3">Amour</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Mettre à jour"/>
    </div>
</form>